<div>
    <div class="container-fluid">
        <div class="row">
            <h4>Пирмеры диалоговых окон</h4>
        </div>

        <div class="row">

            <div class="col-xs-1">
                <button type="button" class="col-xs-2 btn btn-default btn-block" ng-click="dialog1()">Диалог 1</button>
            </div>
            <div class="col-xs-1">
                <button type="button" class="col-xs-2 btn btn-default btn-block" ng-click="dialog2()">Диалог 2</button>
            </div>
            <div class="col-xs-1">
                <button type="button" class="col-xs-2 btn btn-default btn-block" ng-click="dialog3()">Диалог 3</button>
            </div>
            <div class="col-xs-1">
                <button type="button" class="col-xs-2 btn btn-default btn-block" ng-click="dialog4()">Диалог 4</button>
            </div>
            <div class="col-xs-1">
                <button type="button" class="col-xs-2 btn btn-default btn-block" ng-click="dialog5()">Диалог 5</button>
            </div>
        </div>
    </div>
</div>
