<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.1.0" targetFramework="net462" />
  <package id="fastJSON" version="2.1.21" targetFramework="net461" />
  <package id="FluentValidation" version="7.0.3" targetFramework="net462" />
  <package id="LightInject" version="5.0.3" targetFramework="net461" />
  <package id="LightInject.WebApi" version="2.0.0" targetFramework="net461" />
  <package id="linq2db" version="1.8.2" targetFramework="net462" />
  <package id="linq2db.SqlServer" version="1.8.2" targetFramework="net462" />
  <package id="linq2db.t4models" version="1.8.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NLog" version="4.4.8" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.1.608" targetFramework="net461" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net461" />
</packages>