<div class="container-fluid">
    <div class="panel">
        <div class="row">
            <div class="col-xs-12">
                <h4>Таблица</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-danger" ng-click="getException()">необраб ошибка</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger" ng-click="getValidationException()">ошибка валидации</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger" ng-click="downloadExcel()">В Excel</button>
            </div>

            <div class="col-md-2">
                dsRead вызван {{dsReadCount}} раз
            </div>
            <div>
                <input type="text" class="k-textbox"
                       style="width: 150px;"
                       onkeydown="return core.digitsOnly(this, event)" />
            </div>
        </div>
        <div class="row">
            Валидность {{isValid}} Выбранный период: с {{startDT}} по {{endDT}}
        </div>
        <div class="row">
            <nav class="navbar navbar-default">
                <form class="navbar-form navbar-left">
                    <date-range-picker start-date="startDT" end-date="endDT" is-valid="isValid"></date-range-picker>
                    <button type="button" class="btn btn-default">Просто батон</button>
                </form>
            </nav>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table kendo-grid options="mainGridOptions">
                    <colgroup>
                        <col class="width100px" />
                        <col class="width100px" />
                        <col class="width100px" />
                        <col class="width100px" />
                        <col class="width100px" />
                        <col class="width100px" />
                        <col class="width100px" />
                        <col class="width100px" />
                        <col class="width100px" />
                        <col />
                    </colgroup>

                </table>
                <script type="text/x-kendo-angular-template" id="row-template">
                    <tr>
                        <td>
                            {{dataItem.DateFrom | date: "dd.MM.yyyy"}}
                        </td>
                        <td>
                            <span ng-bind="dataItem.Rate.toLocaleString('ru-RU')"></span>
                        </td>
                        <td>
                            {{dataItem.Rate}}
                        </td>
                        <td>
                            {{dataItem.Rate | number}}
                        </td>
                        <td>
                            {{dataItem.Rate | numberRu:4}}
                        </td>
                        <td>
                            {{dataItem.Rate | numberRu:2}}
                        </td>
                        <td>
                            {{dataItem.Rate | numberRu:0}}
                        </td>
                        <td>
                            {{dataItem.Rate | numberRu}}
                        </td>
                        <td>
                            Произвольный коммент :)
                        </td>
                        <td>
                            <div class='btn btn-success btn-sm' ng-click="openEditDialog(dataItem)" title="Изменить"><span class='glyphicon glyphicon-edit '></span></div>
                            <div class='btn btn-danger btn-sm' title="Удалить"><span class='glyphicon glyphicon-remove'></span></div>
                        </td>

                    </tr>
                </script>
            </div>
        </div>
    </div>
</div>
